[Desktop Entry]
Encoding=UTF-8
Version=1.8
Type=Application
Terminal=false
Exec=~/.BrightnessControllerApp/Zenity.sh
Name=Brightness Controller
Icon=~/.BrightnessControllerApp/BrightnessIcon.png
